<% provide(:title, "contact") %>

<h1>Contact</h1>

<p>

  Contact the Ruby on Rails Tutorial about the sample applicaiton at the

  <a href = "http://www.railstutorial.org/contact">Contact page</a>


<p>

  Application Created by Nayan Kaba

</p>
